[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
av = "*"
pandas = "*"
torch = "==1.7.1"
torchvision = "==0.8.2"
hydra-core = "==1.0.0"
tensorboard = "==2.3.0"
coloredlogs = "*"
hydra-colorlog = "*"
tqdm = "*"
scikit-video = "*"
hydra = "*"
fvcore = "*"
typing-extensions = "*"
urllib3 = "==1.26.5"
omegaconf = "==2.0.1"
pillow = ">=8.3.2"

[dev-packages]
isort = "*"
ipdb = "*"
black = "*"
vulture = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
